body { background: #86cf25; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 37px; display: flex; }
.block-router-0 { color: #aa6a88; font-size: 12px; margin-bottom: 5px; }
.block-notify-1 { color: #90377; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #4c5179; font-size: 16px; margin-bottom: 5px; }
.block-sms-3 { color: #e89764; font-size: 12px; margin-bottom: 5px; }
.block-filter-4 { color: #2a1041; font-size: 13px; margin-bottom: 5px; }